@import "../../../lib/ui/styles/globals.css";
@source "../../../lib/ui/components/**/*.{ts,tsx}";

* {
    box-sizing: border-box;
}

html,
body,
#app {
    min-height: 100%;
}

body {
    margin: 0;
}
