import { Entity } from "@monsieurtis/core";

export interface {{Entity}}Filters {
    search: string;
}

export interface {{Entity}} extends Entity {
    // TODO: declare scalar fields and foreign keys here
}
